@using BlazorTextDiff
@inject IStatusMessage statusMessageApprove
@inject IDataContext data

<div class="card shadow mt-2">
    <div class="card-header">
        <span class="fw-bold">Alternative Translations</span>
        <span class="text-end" style="float:right;">Work Item #<b>@Conflict.WorkId</b></span>
    </div>

    @if (!statusMessageApprove.IsEmpty)
    {
        <div class="card-header">
            <StatusBox StatusMessage="statusMessageApprove" />
        </div>
    }

    @if (Conflict != null)
    {
        <div class="card-body">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="align-bottom" width="64">Diffing</th>
                        <th>
                            Original text and translations
                        </th>
                        @if (ShowNumbers)
                        {
                            <td class="text-sm-end small">
                                #
                            </td>
                        }
                        <th class="text-center align-bottom" width="64">
                            Actions
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center align-bottom" width="64"></th>
                        <td class="text-primary">
                            @Conflict.SrcText
                        </td>
                        @if (ShowNumbers)
                        {
                            <td class="text-sm-end text-muted small align-text-top">
                                @Conflict.WorkId
                            </td>
                        }
                        <th class="text-center align-top" width="64">
                            <div class="btn-group w-100">
                                <button class="btn btn-sm btn-danger w-100" title="Flag as problematic" @onclick="@(() => FlagIt(Conflict.WorkId))"><i class="bi bi-flag" /></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Conflict.Candidate)
                    {
                        <tr class="align-middle align-text-top">
                            <td>
                                <div class="btn-group w-100">
                                    <button class="btn btn-sm btn-outline-secondary @(BtnClass(e, 0))" @onclick="@(() => DiffIt(e, 0))">L</button>
                                    <button class="btn btn-sm btn-outline-secondary @(BtnClass(e, 1))" @onclick="@(() => DiffIt(e, 1))">R</button>
                                </div>
                            </td>
                            <td>
                                <span class="@(TextClass(e))">@e.RawText</span>
                                @if (ShowUsers)
                                {
                                    <span class="text-muted small fst-italic ms-2">@e.UserName</span>
                                }
                            </td>
                            @if (ShowNumbers)
                            {
                                <td class="text-sm-end text-muted small">@e.BlockId</td>
                            }
                            <td class="text-end">
                                <div class="btn-group w-100">
                                    <button title="@e.UserName" class="btn btn-sm btn-warning" @onclick="@(() => DiscardBlock(e.BlockId))"><i class="bi bi-trash" /></button>
                                    <button class="btn btn-sm btn-secondary" @onclick="@(() => CleanIt(e))"><i class="bi bi-magic" /></button>
                                    <button title="Modify Text" class="btn btn-sm btn-secondary" @onclick="@(() => EditBlock(e.BlockId))"><i class="bi bi-pencil" /></button>
                                    <button title="@e.UserName" class="btn btn-sm btn-success" @onclick="@(() => PickBlock(e.BlockId))"><i class="bi bi-check2-circle" /></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <TextDiff OldText="@(leftBlock?.RawText.Trim())" NewText="@(rightBlock?.RawText.Trim())">
                <Header>
                    <div class="diff-stats">
                        <span class="badge bg-success">+@context.WordAdditionCount</span>
                        <span class="badge bg-warning">~@context.WordModificationCount</span>
                        <span class="badge bg-danger">-@context.WordDeletionCount</span>
                    </div>
                </Header>
            </TextDiff>
        </div>
        <div class="card-footer">
            <b>RowKey:</b> @(Conflict.RowKey)
            <span class="float-end">
                Show User Names <InputCheckbox @bind-Value="ShowUsers" />
            </span>
        </div>


    }

</div>

@code {
    private TextConflict _conflict = default!;

    [Parameter]
    public required TextConflict Conflict
    {
        get => _conflict;
        set
        {
            _conflict = value;
            if (_conflict.Candidate.Count < 2)
            {
                leftBlock = null;
                rightBlock = null;
                return;
            }
            leftBlock = _conflict.Candidate[0];
            rightBlock = _conflict.Candidate[1];
        }
    }

    [Parameter]
    public bool ShowNumbers { get; set; } = true;
    [Parameter]
    public EventCallback<TextConflict> OnResolved { get; set; }

    private bool ShowUsers { get; set; } = false;
    private Candidate? leftBlock;
    private Candidate? rightBlock;

    private string TextClass(Candidate candidate)
    {
        if (candidate.Approved)
            return "text-success fw-bold";
        if (candidate.Discarded)
            return "text-muted text-decoration-line-through";
        return string.Empty;
    }

    private string BtnClass(Candidate candidate, int boxNo)
    {
        if (candidate.BlockId == leftBlock?.BlockId && boxNo == 0)
            return "active";
        if (candidate.BlockId == rightBlock?.BlockId && boxNo == 1)
            return "active";
        return string.Empty;
    }

    private async Task CleanIt(Candidate candidate)
    {
        if (candidate == null) return;
        candidate.RawText = candidate.RawText.Replace("\n", " ").Replace("\r", " ").Trim();
        StateHasChanged();
    }

    private async Task FlagIt(int workId)
    {
        statusMessageApprove.Clear();
        try
        {
            Conflict.Flagged = true;
            await data.FlagWorkItem(workId);
            await OnResolved.InvokeAsync(Conflict);
        }
        catch (Exception e)
        {
            statusMessageApprove.SetException(e);
        }
    }

    private void DiffIt(Candidate candidate, int boxNo)
    {
        switch (boxNo)
        {
            case 0:
                leftBlock = candidate;
                break;
            default:
                rightBlock = candidate;
                break;
        }
    }

    #region Block Picking

    private async Task EditBlock(int blockId)
    {
        
    }

    private async Task PickBlock(int blockId)
    {
        statusMessageApprove.Clear();
        if (Conflict == null) return;
        try
        {
            Conflict.PickBlock(blockId);
            foreach (var b in Conflict.Candidate)
                if (b.Discarded)
                    await data.DiscardBlock(b.BlockId);
            await OnResolved.InvokeAsync(Conflict);
        }
        catch (Exception e)
        {
            statusMessageApprove.SetException(e);
        }
    }

    private async Task DiscardBlock(int blockId)
    {
        statusMessageApprove.Clear();
        if (Conflict == null) return;
        try
        {
            await data.DiscardBlock(blockId);
            if (Conflict.DiscardBlock(blockId) == 0)
                await OnResolved.InvokeAsync(Conflict);
        }
        catch (Exception e)
        {
            statusMessageApprove.SetException(e);
        }
    }

    #endregion

}
