@inject IApplicationState appState
@inject IDataContext data


<div class="card shadow mt-2">
    <div class="card-header">
        <span><b>Work Items</b> with conflicts</span>
        <span class="text-end" style="float: right;">Project #<b>@data.ProjectId</b></span>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                @{
                    rowNo = 0;
                    visibleRows = 0;

                    foreach (var e in appState.Conflicts.Items)
                    {
                        int localRowNo = rowNo;
                        if (e.CandidatesLeft > 0)
                        {
                            visibleRows++;
                            TextConflict tc = e;
                            <tr class="align-middle">
                                <td class="text-truncate twa-long-text @CssRowClass(tc)">@e.SrcText</td>
                                @if (ShowNumbers)
                                {
                                    <td scope="row" class="text-end"><a class="text-decoration-none">@e.WorkId</a></td>
                                }
                                <td class="text-end @CssRowClass(tc)">
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => PickRow(tc))"><i class="bi bi-eye" /></button>
                                </td>
                            </tr>
                        }
                        rowNo++;
                        if (visibleRows > 4)
                            break;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    [Parameter]
    public bool ShowNumbers { get; set; } = true;
    [Parameter]
    public EventCallback<TextConflict> OnPick { get; set; }

    private TextConflict? textConflict = null;

    private int rowNo = 0;
    private int visibleRows = 0;

    private string CssRowClass(TextConflict conflict)
    {
        if (textConflict != null && conflict.RowKey == textConflict.RowKey)
            return "bg-primary-subtle";
        else
            return "";
    }

    private async Task PickRow(TextConflict pickedRow)
    {
        textConflict = pickedRow;
        await OnPick.InvokeAsync(pickedRow);
    }

}
